@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
h2 {
  font-color: white;
}
a:link:hover, a:visited:hover {
	color: red;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

html {
	height: 100%;
}

h3, h2 {
	font-family: 'Titillium Web', sans-serif;
}

h2 {
	margin:10px;
}

body {
	background: -webkit-linear-gradient(rgb(0,107,182), rgb(255,223,0)) fixed; 
    webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	font-family: 'Titillium Web', sans-serif;
  	height: 100%;
  	width:100%;
  	margin: 0;
  	background-repeat: no-repeat;
  	background-attachment: fixed;

}

#bestFans {
	/*margin:10px;*/
}

#scrollDiv {  
	margin-left: 45%;
	font-size: 18px;
/*	width: 40%; /*same*/
	padding: 10%;
	justify-content: center;
	margin-top: -15%;*/
}

#scrollDivPic {
	right: 0;
	margin-top: -5%;
}

#playerPic {
	position: relative;
}

#playerPic img {
	position: absolute;
	top:0px;
	right:0px;
}

#chart {
	padding: 2.5%;
	margin-right: 8%;
	margin-top: -10%;
}

#chartWrapper {
	text-align: center;
}

#selImg {
	top: 20;
	right:20;
}

#hoverImg {
	margin-top: 10%;
	left:0;
}

#timeHeader {
	font-style: italic;
	margin-top: -1%;
	display: flex;
	justify-content: center;
	margin-left: 10px;
}

.resize {
	margin-top: 5%;
	width: 15%;
	height: 35%;
}
.resize2 {
	margin-top: 5%;
	width: 25%;
	height: 35%;
}

footer {
	font-size: .8em;
	bottom: 
	padding: 1em;
	float: right;
	text-align: right;
}