@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
* {
	box-sizing: border-box;
}
h2 {
  font-color: white;
}
a:link:hover, a:visited:hover {
	color: red;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

html {
	height: 100%;
}

h3, h2 {
	font-family: 'Titillium Web', sans-serif;
}

h2 {
}

body {
	background: -webkit-linear-gradient(rgb(0,107,182), rgb(255,223,0)) fixed; 
    webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  	font-family: 'Titillium Web', sans-serif;
  	 margin: 1.5em;
  	background-repeat: no-repeat;
  	background-attachment: fixed;

}

#bestFans {
}

#scrollDiv {
}

#scrollDivPic {
	position: relative;
}
#scrollDivPic img {

}

.playerData {
	position: relative;
}

.playerData img {
	position: absolute;
	top:0px;
	right:1em;
	width:25%;
}

#chart {
	padding: 2.5%;
	margin-top: -10%;
	min-height: 320px;
}

#hoverImg {
	margin-top: 10%;
	left:0;
}

#timeHeader {
	font-style: italic;
	margin-top: 3%;
	display: flex;
	justify-content: center;
}

.resize {
	margin-top: 5%;
	width: 15%;
	height: 35%;
}
.resize2 {
	margin-top: 5%;
	width: 25%;
	height: 35%;
}

.container {
	margin-top: 2em;
}

.textContainer {
	float: left;
	margin-right: 2em;

}

footer {
	font-size: .8em;
   	width:100%;
   	text-align: right;
}
